@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

*{
    margin:0;
}
img{
    
    margin:auto;
}

p{
    text-align: center;
}
img{
    height:100px; width:auto;
}
#btnLog{
    background-color: #81bc4a; color: white;
}